body{
	background-color: #1e1e1e;
	color:#ffffff;
}
.button {
	background-color: #3655b5; 
	border: none;
	color: #ffffff;
	padding: 8px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0px 0px 2.5px #ffffff ;
}
.button:hover {
  background-color: #577963;
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: baseline;
}

.margin-m{
	margin: 20px;
}